---
layout: default
---
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0"
  nonce="S16TwRIb"></script>
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <span class="bootstrap-iso"><img src="{{ page.image }}" class="bootstrap-iso img-fluid rounded"
        style="margin-bottom: 2em;"></span>
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    {% if page.subtitle %}<h2>{{ page.subtitle | escape }}</h2>{% endif %}
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
          itemprop="name">{{ page.author | escape }}</span></span>
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <div class="fb-comments" data-href="https://dan-iel-lee.github.io/" data-numposts="5" data-width="100%"></div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>